---
import MainLayout from '@layouts/MainLayout.astro'
import PageWrap from '@layouts/PageWrap.astro'
---

<MainLayout title="Tower Lakes 100 - FAQ">
    <PageWrap bg="bg-floral-white" width="extra-wide" title="FAQ">
        <header class="page-header mt-8">
            <h1 class="font-bold text-3xl lg:text-4xl">
                FAQ - Frequently Asked Questions
            </h1>
        </header>
        <div class="faq-wrap flex flex-col gap-6 my-12 pb-12">
            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    How should I format my upload?
                </h2>

                <p class="mb-4">
                    While the uploader will accept multiple files at once,
                    please create a .zip archive if you are sending multiple
                    files. A .zip archive combines all of your files into a
                    single file, making it smaller and easier to upload.
                </p>

                <p class="mb-4">
                    <a
                        class="text-primary underline"
                        href="https://www.indeed.com/career-advice/career-development/how-to-create-zip-file"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Learn how to create a .zip archive.</a
                    >
                </p>

                <p class="mb-4">
                    Note: the uploader does *not* accept <em>folders</em>, only
                    files. If you have a folder or folders with multiple items,
                    please create a .zip archive. A .zip archive *can* include a
                    mix of image and document files.
                </p>
            </div>

            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    What file formats do you accept for photos?
                </h2>

                <p class="mb-4">
                    The allowed file types are: .jpg, .png, .pdf, .webp, .heic,
                    .avif, .tif, CAMERA RAW. We also accept the following
                    document formats: .doc, .docx, .txt, .rtf, .xls, .xlsx,
                    .json, .csv.
                </p>
            </div>
            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    What size should my photos be?
                </h2>

                <p class="mb-4">
                    <strong>IMPORTANT:</strong> please send original, un-cropped
                    image files at full resolution. This ensures that they will be
                    the best quality when printed in the TL100 Yearbook. We will
                    crop and resize.
                </p>

                <p class="mb-4">
                    Photos should be at least 1200px wide although this is not
                    always possible. If you are scanning photos, please use the
                    highest dpi available with your scanner (300dpi or higher is
                    good).
                </p>
            </div>

            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    What is the maximum upload size?
                </h2>

                <p class="mb-4">
                    The maximum size is 1024MB (1 GB). If your .zip is larger
                    than this, please split into multiple .zip files.
                </p>
            </div>
            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    How many photos should I send?
                </h2>

                <p class="mb-4">
                    If you have many similar photos of the same
                    event/subject/people, <strong>please</strong> take the time to
                    select the “best” one. We realize this may be subjective but
                    curating your own photos will save us lots of time when trying
                    to select images to include in the yearbook vs having to look
                    through multiple similar photos.
                </p>

                <p class="mb-4">
                    Ultimately, <strong>send your best photos</strong>. If you
                    have a lot of variety of different subjects, years, scenes,
                    events, by all means upload but just go through them with a
                    critical eye before uploading.
                </p>
            </div>

            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    Will my photos be included in the yearbook?
                </h2>

                <p class="mb-4">
                    While we will make every effort to include as many photos in
                    the yearbook as we can, we cannot guarantee that all uploads
                    will be included. Space is limited and we must select the
                    photos that we think best represent Tower Lakes and its
                    history.
                </p>
                <p class="mb-4">
                    If you want to guarantee that your family is represented,
                    please consider purchasing an ad! This helps support the
                    TL100 Yearbook project and will memorialize your family for
                    generations to come.
                </p>
            </div>

            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    How should I use the Submission Categories?
                </h2>

                <p class="mb-4">
                    The Submission Categories are an optional way to indicate to
                    us the general subject(s) of your photos. You can select
                    more than one category with your upload and if anything
                    doesn’t fit into one of the categories select the ‘Other’
                    category. These categories are for the TL100 Yearbook staff
                    to keep things organized so don’t worry about them too much
                    — just use your best judgement.
                </p>
            </div>
            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    How can I provide more information about the photos I am
                    submitting like dates and names?
                </h2>

                <p class="mb-4">
                    More information about each photo is not only welcome but
                    encouraged! One easy way to include information is to
                    customize the file name so instead of `IMG_2034.jpg` change
                    the title to `Aerial View of Tower Lake_1968.jpg`.
                </p>

                <p class="mb-4">
                    If you want to provide even more details, include a
                    spreadsheet or document with your submission and include
                    that in the .zip archive that lists the file name, photo
                    date, and any additional notes in the same column. You can
                    add as much or little detail as you want. If you want to add
                    a caption, or supply the names of the people in your photos,
                    include that as well.
                </p>

                <p class="mb-4">
                    <strong>IMPORTANT:</strong> Be sure to include the file name
                    <strong>exactly</strong> as it is on the photo so we can match
                    the information provided in your document with the correct image.
                    <em
                        ><strong>Note:</strong> photos in the yearbook will not have
                        captions but we may include caption information in the text
                        on the page.</em
                    >
                </p>

                <p class="mb-4">
                    If we have any questions about your submission and info, we
                    will reach out to you directly.
                </p>
            </div>
            <div class="faq-qa">
                <h2 class="text-2xl lg:text-3xl font-bold mb-3">
                    Still have questions?
                </h2>

                <p class="mb-4">
                    If you have any other questions or need help submitting,
                    please email us at <a
                        class="text-primary underline"
                        href="mailto:yearbook@towerlakes100.org"
                        >yearbook@towerlakes100.org</a
                    > and we will be happy to help you. Thank you for your support
                    of the TL100 Yearbook project!
                </p>
            </div>
        </div>
    </PageWrap>
</MainLayout>
