---
import MainLayout from '@layouts/MainLayout.astro'
import PageWrap from '@layouts/PageWrap.astro'
import UploadForm from '@components/Upload/UploadForm.jsx'
import { ImageUploader } from '@components/Upload/ImageUploader.jsx'
---

<MainLayout title="Tower Lakes 100">
	<PageWrap bg="bg-floral-white" width="extra-wide" title="Home">
		<article class="prose extra-wide">
			<header class="page-header mt-6">
				<h1 class="font-bold text-3xl lg:text-4xl">Tower Lakes 100</h1>
			</header>
			<p>Welcome to the Tower Lakes 100 website.</p>
			<UploadForm client:load />
		</article>
	</PageWrap>
</MainLayout>
