---
import TL100Logo from '@images/tower-lakes-100-horiz-lockup.svg'
---

<div class="header-outer bg-timberwolf/50 content-grid">
	<div class="header-inner extra-wide py-3">
		<div class="header-logo">
			<a href="/">
				<img
					class="w-[300px]"
					src={TL100Logo.src}
					alt="Tower Lakes 100 logo"
				/>
			</a>
		</div>
	</div>
</div>
