---
import '@uploadthing/react/styles.css'
import '@styles/style.css'

import UploadThingSSR from '@components/Upload/UploadThingSSR.astro'
import Header from '@components/Header/Header.astro'
import Footer from '@components/Footer/Footer.astro'

const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<!-- <UploadThingSSR /> -->
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
